ul {
  padding-left: 20px;
}

hr {
  border: white solid 1px;
}

.see-more-or-less {
  color: rgb(116, 172, 255);
}

.see-more-or-less:hover {
  cursor: pointer;
}

blockquote {
  background: #7a7a7a;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

/* .card-header {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-body {
  display: flex;
  align-items: flex-start;
  background: grey;
  align-items: center;
  justify-content: space-around;
}

.container1,
.container2 {
  max-width: 50%;
}

.card-body img {
  max-width: 90%;
} */

.card {
  color: black;
}

.card-body {
  justify-content: space-around;
}

.card img {
  max-width: 45%;
}

.card .desc {
  max-width: 37.5%;
}

.card li {
  font-size: 1rem;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .card img,
  .card .desc {
    max-width: 100%;
  }

  .card iframe {
    width: 100%;
  }

  .link-buttons .btn {
    padding: 5px;
    display: inline-block;
    font-size: 0.9rem;
  }

  .card li {
    font-size: 1rem;
    padding: 3px 2px;
    font-size: 0.9rem;
  }
}
