img {
  border: cyan solid 1px;
  width: 100%;
}

ul {
  padding-left: 20px;
}

hr {
  border: white solid 1px;
}

.see-more-or-less {
  color: cyan;
}

.see-more-or-less:hover {
  cursor: pointer;
}

blockquote {
  background: #7a7a7a;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}
