img {
  border: cyan solid 1px;
  width: 100%;
}

ul {
  padding-left: 20px;
}

hr {
  border: white solid 1px;
}

.see-more-or-less {
  color: cyan;
}

.see-more-or-less:hover {
  cursor: pointer;
}
