* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #333;
  --h1Color: rgba(251, 197, 49, 1);
  --h2Color: rgba(232, 65, 24, 1);
  --h3Color: rgba(68, 189, 50, 1);
  --linkColor: rgba(0, 168, 255, 1);

  --buttonColorTop: #54a0ff;
  --buttonColorBottom: #2e86de;
  --textColor: white;
  --borderColor: rgba(245, 246, 250, 1);
  --iconColor: rgba(245, 246, 250, 1);
  --formColor: rgba(245, 246, 250, 1);
  --menuColor: rgba(251, 197, 49, 1);

  --focusColor: yellow;
  --requiredColor: #ee5253;

  --fontFamily: "Times New Roman", Times, serif;
  --backgroundImage: url("./images/banner.png");
  --contentWidth: 90%;
}

body {
  background: var(--backgroundColor);
  font-family: var(--fontFamily);
}

div,
nav,
section,
footer {
  position: relative;
}

section {
  width: 100%;
  margin: 10px auto;
}

section h1 {
  color: var(--h1Color);
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}

/* My portrait photo */
section img {
  width: 75%;
  border-radius: 20%;
  border: 3px solid var(--borderColor);
  display: block;
  margin: auto;
}

button {
  background: linear-gradient(
    to bottom,
    var(--buttonColorTop),
    var(--buttonColorBottom)
  );
  border: 2px solid var(--borderColor);
  border-radius: 15%;
  display: inline-block;
  cursor: pointer;
  color: var(--textColor);
  padding: 10px;
  font-size: 1rem;
}

button:hover {
  background: linear-gradient(
    to top,
    var(--buttonColorTop),
    var(--buttonColorBottom)
  );
}

button:active {
  position: relative;
  top: 1px;
}

.fa-bars {
  color: var(--menuColor);
  font-size: 1.5em;
  border: 3px solid var(--menuColor);
  padding: 4px;
  border-radius: 15%;

  text-align: center;

  position: fixed;
  top: 10px;
  right: 10px;

  z-index: 2;
}

nav ul {
  color: var(--menuColor);
  background: black;
  opacity: 0.9;
  border: 3px solid var(--menuColor);
  padding: 20px;
  border-radius: 5%;

  color: white;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;

  text-align: center;

  position: fixed;
  top: 5px;
  right: 5px;

  z-index: 1;
}

nav li {
  padding: 10px 0;
}

nav li:hover {
  color: yellow;
  cursor: pointer;
}

.banner-img {
  background: var(--backgroundImage);
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img div {
  width: 100%;
  color: white;
  background: black;
  opacity: 0.8;
  text-align: center;
  /* padding: 5px; */
  text-transform: capitalize;
  display: block;
  font-size: 1.5rem;
}

.about-text {
  /* text-align: left; */
  padding: 10px 0px;
  margin: 0 auto;
  text-align: justify;
  width: var(--contentWidth);
  color: var(--textColor);
  font-size: 1.2rem;
}

#chessCAMO {
  margin: 10px 5%;
  font-weight: lighter;
  text-align: justify;
}

#chessCAMO h2 {
  text-decoration: underline;
  color: var(--h2Color);
  font-size: 1.75rem;
  padding: 10px 0;
  text-align: center;
}

#chessCAMO img {
  /* border: none; */
  border-radius: 0;
  margin: 0 auto;
  width: 100%;
}

#chessCAMO h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  color: var(--h3Color);
}

#chessCAMO p {
  width: 100%;
  color: var(--textColor);
  font-size: 1.2rem;
}

#chessCAMO a {
  text-decoration: none;
  color: var(--linkColor);
}

#chessCAMO a:active {
  color: var(--textColor);
}

#chessCAMO ul {
  padding: 0 5%;
  color: var(--textColor);
  font-size: 1.1rem;
  list-style: square;
}

#chessCAMO li {
  padding: 5px 0px;
  width: 100%;
}

#chessCAMO button {
  margin: 10px auto;
  display: block;
}

form {
  width: var(--contentWidth);
  margin: auto;
  padding: 10px;
  border: 2px dotted var(--borderColor);
  color: var(--textColor);
}

form h1 {
  color: var(--h1Color);
  text-align: center;
}

form p {
  margin: 0 0 5px 0;
  font-weight: bolder;
  color: var(--formColor);
}

form input {
  width: 100%;
  padding: 5px;
  margin: 0 0 20px 0;
  font-family: var(--fontFamily);
}

form input:focus {
  background: var(--focusColor);
}

form input:required {
  border: 1px solid var(--requiredColor);
}

form textarea {
  min-width: 50%;
  min-height: 10vh;
  max-width: 100%;
  max-height: 50vh;
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  font-family: var(--fontFamily);
}

.form-buttons {
  margin: 10px auto 0 auto;
}

.form-buttons:focus {
  background: var(--formColor);
}

footer {
  text-align: center;
  color: var(--textColor);
  position: relative;
  margin: auto;
  width: var(--contentWidth);
  padding: 10px;
}

footer div {
  margin: 10px auto;
}

.fab {
  padding: 10px;
  transform: scale(2);
  color: white;
}

#up-arrow {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: white;
  text-decoration: none;
}

#up-arrow p:hover {
  color: yellow;
}

/* Medium Devices (Landscape) */
@media screen and (min-width: 768px) {
  section h1 {
    font-size: 2.75rem;
  }

  section img {
    width: 27.5%;
    margin: auto 5% auto auto;
  }

  .banner-img {
    height: 100vh;
  }

  .banner-img div {
    font-size: 2.5rem;
  }

  .about-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto auto 5%;
    padding: 0;
    width: 60%;
    font-size: 1.5rem;
  }

  #chessCAMO h2 {
    font-size: 2rem;
  }

  form textarea {
    font-size: 1.1rem;
  }
}

/* Large Devices */
@media screen and (min-width: 992px) {
  section h1 {
    font-size: 2.75rem;
  }

  section img {
    width: 27.5%;
    margin: auto 5% auto auto;
  }

  .banner-img {
    height: 100vh;
  }

  .banner-img div {
    font-size: 2.5rem;
  }

  .about-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto auto 5%;
    padding: 0;
    width: 60%;
    font-size: 1.9rem;
  }

  #chessCAMO h2 {
    font-size: 2rem;
  }

  #chessCAMO img {
    margin: 0 auto 0 0%;
    width: 50%;
  }

  .chessCAMO-details {
    position: absolute;
    top: -20px;
    left: 52.5%;
  }

  #chessCAMO h3 {
    font-size: 1.75rem;
    padding: 20px 0 10px 0;
  }

  #chessCAMO p {
    font-size: 1.1rem;
  }

  #chessCAMO ul {
    font-size: 1rem;
  }

  #chessCAMO li {
    padding: 2.5px;
  }

  #chessCAMO button {
    margin: 10px auto;
    display: block;
  }

  form textarea {
    font-size: 1.1rem;
  }
}

/* Extra large devices */
@media screen and (min-width: 1200px) {
  section h1 {
    font-size: 3rem;
  }

  section img {
    width: 30%;
    margin: auto 5% auto auto;
  }

  .banner-img {
    height: 100vh;
  }

  .banner-img div {
    font-size: 2.5rem;
  }

  .about-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto auto 5%;
    padding: 0;
    width: 55%;
    font-size: 2.25rem;
  }

  #chessCAMO h2 {
    font-size: 2rem;
  }

  #chessCAMO img {
    margin: 0 auto 0 0%;
    width: 50%;
  }

  .chessCAMO-details {
    position: absolute;
    top: -20px;
    left: 55%;
  }

  #chessCAMO h3 {
    font-size: 2rem;
    padding: 20px 0 10px 0;
  }

  #chessCAMO p {
    font-size: 1.3rem;
  }

  #chessCAMO ul {
    font-size: 1.2rem;
  }

  #chessCAMO li {
    padding: 5px;
  }

  #chessCAMO button {
    margin: 10px auto;
    display: block;
  }

  form {
    width: 75vw;
  }

  form p {
    font-weight: bold;
    font-size: 1.3rem;
  }

  form input {
    padding: 10px;
    font-size: 1.15rem;
  }

  form textarea {
    min-height: 25vh;
    font-size: 1.3rem;
  }
}

/* Extra large devices (Large Monitors) */
@media screen and (min-width: 1500px) {
  section h1 {
    font-size: 3rem;
  }

  section img {
    width: 25%;
    margin: auto 5% auto auto;
  }

  .banner-img {
    height: 100vh;
  }

  .banner-img div {
    font-size: 2.5rem;
  }

  .about-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto auto 5%;
    padding: 0;
    width: 57.5%;
    font-size: 2.6rem;
  }

  #chessCAMO h2 {
    font-size: 2.25rem;
  }

  #chessCAMO img {
    margin: 0 auto 0 0%;
    width: 50%;
  }

  .chessCAMO-details {
    position: absolute;
    top: -20px;
    left: 55%;
  }

  #chessCAMO h3 {
    font-size: 2rem;
    padding: 20px 0 10px 0;
  }

  #chessCAMO p {
    font-size: 1.8rem;
  }

  #chessCAMO ul {
    font-size: 1.3rem;
  }

  #chessCAMO li {
    padding: 5px;
  }

  #chessCAMO button {
    margin: 10px auto;
    display: block;
  }

  form {
    width: 50vw;
  }

  form p {
    font-size: 1.3rem;
  }

  form input {
    padding: 10px;
    font-size: 1.15rem;
  }

  form textarea {
    min-height: 25vh;
    font-size: 1.3rem;
  }
}

/* Ultra large devices */
@media screen and (min-width: 1800px) {
  section h1 {
    font-size: 4rem;
  }

  section img {
    width: 17.5%;
    margin: auto 5% auto auto;
  }

  .banner-img {
    height: 100vh;
  }

  .banner-img div {
    font-size: 2.5rem;
  }

  .about-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto auto 5%;
    padding: 0;
    width: 65%;
    font-size: 2.85rem;
  }

  #chessCAMO h2 {
    font-size: 2.25rem;
    text-align: left;
  }

  #chessCAMO img {
    margin: 0 auto 0 0%;
    width: 35%;
  }

  .chessCAMO-details {
    position: absolute;
    top: -20px;
    left: 40%;
  }

  #chessCAMO h3 {
    font-size: 2rem;
    padding: 20px 0 10px 0;
  }

  #chessCAMO p {
    font-size: 1.8rem;
  }

  #chessCAMO ul {
    font-size: 1.4rem;
  }

  #chessCAMO li {
    padding: 5px;
  }

  #chessCAMO button {
    margin: 10px auto;
    display: block;
  }

  form {
    width: 50vw;
  }

  form p {
    font-size: 1.5rem;
  }

  form input {
    padding: 10px;
    font-size: 1.25rem;
  }

  form textarea {
    min-height: 25vh;
    font-size: 1.4rem;
  }
}
