* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: black;
  --headingColor: #fcf5c7;
  --fontFamily: "Times New Roman", Times, serif;
  --backgroundImage: url("./images/banner.png");
  --spacingWidth: 90vw;
}

body {
  background: var(--backgroundColor);
  font-family: var(--fontFamily);
}

nav {
  background: transparent;
  margin: 2px;
  position: fixed;
  top: 0;
  width: var(--spacingWidth);
}

nav button {
  float: left;
  width: 33.3vw;
  font-weight: bold;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  transition: all 1s linear;
}

/* nav:hover button {
  visibility: visible;
}

nav:hover {
  background: yellow;
} */

div {
  position: relative;
}

section {
  width: 100%;
  margin: 10px auto;
}

section h1 {
  color: var(--headingColor);
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}

section img {
  width: 90%;
  border-radius: 20%;
  border: 3px solid white;
  display: block;
  margin: auto;
}

button {
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  border: 2px solid white;
  border-radius: 15%;
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 10px;
  font-size: 1rem;
}

button:hover {
  background: linear-gradient(to top, #2dabf9 5%, #0688fa 100%);
}

button:active {
  position: relative;
  top: 1px;
}

.banner-img {
  background: var(--backgroundImage);
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img div {
  width: 100%;
  color: white;
  background: black;
  opacity: 0.8;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
  display: block;
  font-size: 1.5rem;
}

.about-text {
  /* text-align: left; */
  padding: 10px 0px;
  margin: 0 auto;
  text-align: justify;
  width: 90%;
  color: white;
  font-size: 1.2rem;
}

#chessCAMO {
  margin: 10px 5%;
  font-weight: lighter;
  text-align: justify;
}

#chessCAMO h2 {
  text-decoration: underline;
  color: white;
  font-size: 1.75rem;
  padding: 10px 0;
  text-align: center;
}

#chessCAMO img {
  /* border: none; */
  border-radius: 0;
  margin: 0 auto;
  width: 100%;
}

#chessCAMO h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  color: white;
}

#chessCAMO p {
  width: 100%;
  color: white;
  font-size: 1.2rem;
}

#chessCAMO a {
  text-decoration: none;
  color: rgb(197, 209, 248);
}

#chessCAMO a:active {
  color: white;
}

#chessCAMO ul {
  padding: 0 5%;
  color: white;
  font-size: 1.1rem;
}

#chessCAMO li {
  padding: 0;
  width: 100%;
}

#chessCAMO button {
  margin: 10px auto;
  display: block;
}

form {
  width: 90%;
  margin: auto;
  padding: 5px;
  border: 2px dotted white;
  color: white;
}

form h1 {
  color: var(--headingColor);
  text-align: center;
}

form p {
  margin: 5px 0px;
  font-weight: bolder;
}

form input {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

form input:focus {
  background: rgba(255, 255, 0, 0.8);
}

form input:required {
  border: 1px solid red;
}

form textarea {
  max-width: 100%;
  max-height: 50vh;
  width: 100%;
}

footer {
  text-align: center;
  color: white;
  position: relative;
  margin: auto;
  width: var(--spacingWidth);
  padding: 10px;
}

footer div {
  margin: 10px auto;
}

.fab {
  padding: 10px;
  transform: scale(2);
  color: white;
}

#up-arrow {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: white;
}

/* @media screen and (min-width: 600px) {
  .banner-img {
    height: 100vh;
    background-position: center;
  }

  .banner-text {
    width: 100%;
    font-size: 2rem;
  }

  .about {
    position: relative;
  }

  .portrait-img {
    width: 10%;
    float: right;
    position: absolute;
    top: 0;
    right: 5%;
  }

  .about-text {
    padding: 10px 10px 0px 0px;
    width: 80%;
    margin: 10px 2%;
    font-size: 2em;
  }

  #chessCAMO {
    position: relative;
  }

  #chessCAMO img {
    width: 50%;
    display: block;
    margin: 0 2%;
    padding: 10px;
  }

  .description-details {
    position: absolute;
    top: 30%;
    left: 50%;
  }

  #chessCAMO button {
    top: 70%;
    left: 70%;
  }
} */
