* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgba(237, 251, 49, 1);
}

.required {
  color: red;
}

section:nth-child(even) {
  background: rgb(39, 39, 39, 0.9);
}

section:nth-child(odd) {
  background: rgba(202, 202, 202, 0.9);
}
