* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: rgba(50, 50, 50, 1);
  --oddBackgroundColor: rgba(113, 128, 147, 1);
  --h1Color: rgba(237, 251, 49, 1);
  --h2Color: rgba(236, 248, 182, 1);
  --h3Color: rgba(94, 255, 88, 1);
  --linkColor: rgb(0, 255, 255, 1);

  --buttonColorTop: #54a0ff;
  --buttonColorBottom: #2e86de;
  --textColor: white;
  --borderColor: rgba(245, 246, 250, 1);
  --iconColor: rgba(245, 246, 250, 1);
  --formColor: rgba(245, 246, 250, 1);
  --menuColor: rgba(251, 197, 49, 1);

  --focusColor: yellow;
  --requiredColor: #ee5253;

  --fontFamily: Arial, Helvetica, sans-serif;
  --backgroundImage: url("./images/banner.png");
  --contentWidth: 90%;
}

body {
  background: var(--backgroundColor);
  font-family: var(--fontFamily);
}

div,
nav,
section,
footer {
  position: relative;
}

section {
  width: 100%;
  padding-bottom: 10px;
}

/* section child that is not h1 
will appear when section becomes visible */
section :not(h1) {
  display: none;
}

section h1 {
  color: var(--h1Color);
  font-size: 2.5rem;
  text-align: center;
  padding: 20px 10px;
}

section:nth-child(odd) {
  background: var(--oddBackgroundColor);
}

.link-buttons {
  display: flex;
  flex-direction: row;
}

nav ul {
  color: var(--menuColor);
  font-size: 2em;
  border: 3px solid var(--menuColor);
  padding: 4px;
  border-radius: 15%;

  text-align: center;

  position: fixed;
  top: 15px;
  right: 15px;

  z-index: 2;
  cursor: pointer;

  background: black;
  padding: 15px 20px;
  border-radius: 5%;

  color: white;
  list-style: none;
  font-weight: bold;

  top: 10px;
  right: 10px;

  z-index: 1;
  display: none;
}

nav li {
  padding: 10px 0;
}

nav li:hover {
  color: yellow;
  cursor: pointer;
}

.banner-img {
  background: var(--backgroundImage);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  width: 100%;
  color: white;
  background: rgba(51, 50, 50, 0.8);
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  display: block;
  font-size: 1.5rem;
  display: none; /* fadeIn with jQuery*/
}

/* My portrait photo */
.about img {
  width: 60%;
  border-radius: 10%;
  border: 3px solid var(--borderColor);
  position: relative;
  left: 20%;
}

.about-text {
  padding: 10px 0px;
  margin: 0 auto;
  text-align: justify;
  width: var(--contentWidth);
  color: var(--textColor);
  font-size: 1.2rem;
}

.required {
  color: red;
}
